<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail Page</title>
</head>
<body>
    <h1>Details Page</h1>

<img src={{user.image_url}}>
<h3>{{user.first_name}} {{user.last_name}}</h3>
<form>
    <button formaction="/users/{{user.id}}/edit" formmethod="GET">Update</button>
    <button formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button> 
</form>
    
</body>
</html>